{# View Information #}
{% set title = 'Test Client' %}
{% extends "template/default.twig" %}

{# OnLoad Block #}{% block onload %}

prettyPrint();

$('#client_test_form').on('submit', submit_form);

$('#add_param').on('click', add_param);

{% endblock onload %}{# End OnLoad Block #}

{# Resources Block #}{% block resources %}

function add_param (event) {
	$('#params').append('<br/><div class="controls"> \
		<input type="text" name="keys[]" value="" placeholder="Key" /> \
		<input type="text" name="values[]" placeholder="Value" /> \
	</div>');
	event.preventDefault();
}

function submit_form () {
	$('#response').text('......Loading......');
	$('#headers').text('......Loading......');
	$('#resp_params').text('......Loading......');
	$.post('rest_example/process', $('form#client_test_form').serialize(), submit_form_success, 'JSON');
	event.preventDefault();
}

function submit_form_success (data) {
	$('#headers').text(data.headers);
	$('#resp_params').text(data.params);
	$('#response').text(data.response);
	prettyPrint();
}

{% endblock resources %}{# End Resources Block #}

{# Content Block #}{% block content %}

<div class="row">
	<div class="span6">
		<form id="client_test_form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="method">Method</label>
				<div class="controls">
					<select id="method" name="method">
						<option>GET</option>
						<option>POST</option>
						<option>PUT</option>
						<option>DELETE</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="controller">Controller</label>
				<div class="controls">
					<select id="controller" name="controller">
						<option>user_json</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="action">Action</label>
				<div class="controls">
					<select  id="action" name="action">
						<option>index</option>
					</select>
				</div>
			</div>
			<div id="params" class="control-group">
				<label class="control-label" for="controller">Params</label>
				<div class="controls">
					<input class="span3" type="text" name="keys[]" value="" placeholder="Key" />
					<input class="span3" type="text" name="values[]" value="" placeholder="Value" />
				</div>
			</div>
			<div class="form-actions">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" id="add_param" class="btn btn-info">Add Param</button>
				</div>
			</div>
		</form>
	</div>

	<div class="span6">
		<ul class="nav nav-tabs">
			<li><a class="active" href="#headers" data-toggle="tab">Headers</a></li>
			<li><a href="#resp_params" data-toggle="tab">Params</a></li>
			<li><a href="#response" data-toggle="tab">Response</a></li>
		</ul>

		<div class="tab-content">
			<pre id="headers" class="tab-pane active prettyprint linenums languague-text">

			</pre>

			<pre id="resp_params" class="tab-pane prettyprint linenums languague-php">

			</pre>
			
			<pre id="response" class="tab-pane prettyprint linenums languague-json">

			</pre>
		</div>
	</div>
</div>

{% endblock content %}{# End Content Block #}
